doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    link(rel='preload' href='fonts/opensans-bold.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/opensans-regular.woff2' as='font' crossorigin='anonymous')
    link(href='css/style.min.css' rel='stylesheet')

    block title
      title Real estate

    block pixel-glass
      style.
        html {
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-image: url('img/layout.jpg');
        }

  body

    h1(class='visually-hidden') Real estate

    block content
      include ../blocks/realty/realty.pug

    script(src='js/script.min.js')
