.button {
  @include defaultHoverEffect();

  display: inline-block;
  padding: 13px 42px 16px 32px;

  font: $text-button;
  color: $black;

  border: 1px solid $grey;
  border-radius: 25px;
  background:
    center right 28px / 7px 17px no-repeat url("../img/arrow.svg"),
    transparent;
}
