$tablet-width: 769px;
$desktop-width: 1300px;
$only-mobile-width: 768px;
$only-tablet-width: 1299px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$green: #45852d;
$orange: #ec6608;
$cyan: #006f79;
$light-grey: #f8f8f8;
$grey: #d8d8d8;
$black: #363636;

$default-text-color: $black;

$default-bg-color: $white;

$default-font: "Open Sans", "Arial", sans-serif;

$text-default: normal 400 16px/1.2 $default-font;
$text-title: normal 700 36px/1.2 $default-font;

$text-button: normal 700 16px/1.2 $default-font;

$text-article-title: normal 700 20px/1.2 $default-font;
$text-article-text: normal 400 16px/1.2 $default-font;
$text-article-address: normal 400 16px/1.2 $default-font;
$text-article-price: normal 700 16px/1.2 $default-font;
$text-article-info: normal 400 14px/1.2 $default-font;
$text-article-badge: normal 700 12px/1.2 $default-font;
