.article {
  @include defaultHoverEffect();

  position: relative;
  width: 100%;

  font: $text-article-text;
  color: $black;
  text-align: left;

  border: 1px solid $grey;
  background-color: $light-grey;
}

.article__link-wrapper {
  display: block;
}

.article__photo-wrapper {
  @include imgContainer();

  position: relative;
  min-height: 100px;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 70%;
    padding: 10px 10px 6px;

    font: $text-article-badge;
    color: $white;

    background-color: $cyan;
  }

  &--independent::after {
    content: "Independent living";

    background-color: $cyan;
  }

  &--support::after {
    content: "Restaurant & Support available";

    padding: 10px 8px 6px;

    background-color: $orange;
  }
}

.article__container {
  margin: 15px 20px 18px;
}

.article__title {
  margin: 22px 0 0;

  font: $text-article-title;
}

.article__address {
  margin: 7px 0 18px;

  font: $text-article-address;
}

.article__text {
  margin: 0;

  font: $text-article-text;
}

.article__price {
  font: $text-article-price;
}

.article__info {
  margin: 10px 0 0;

  font: $text-article-info;
}
