.realty {
  position: relative;
  padding: 25px 0;

  font: $text-default;
  color: $default-text-color;
  text-align: center;

  background-color: $default-bg-color;

  overflow-x: hidden;
}

.realty__title {
  width: 70%;
  margin: 27px auto;

  font: $text-title;
  color: $green;
  text-align: center;

  @media (max-width: $only-mobile-width) {
    width: 100%;
  }
}

.realty__list {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 20px);
  margin: 40px -20px 15px 0;

  overflow-x: hidden;

  @media (max-width: $only-mobile-width) {
    display: block;
    width: 100%;
    margin: 30px 0 15px;
  }
}

.realty__item {
  display: flex;
  flex: 1 1 auto;
  width: 30%;
  margin: 0 20px 20px 0;

  @media (max-width: $only-mobile-width) {
    width: 100%;
    max-width: 380px;
    margin: 0 auto 20px;
  }
}

.realty__more {
  margin: 15px 0;
}

.realty__storage {
  display: none;
}
