.realty {
  position: relative;
  padding: 25px 0;

  font: $text-default;
  color: $default-text-color;
  text-align: center;

  background-color: $default-bg-color;

  overflow-x: hidden;
}

.realty__title {
  width: 50%;
  margin: 15px auto;

  font: $text-title;
  color: $green;
  text-align: center;
}

.realty__list {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 20px);
  margin-right: -20px;

  overflow-x: hidden;
}

.realty__item {
  width: 30%;
  margin: 0 20px 20px 0;
}

.realty__more {
  margin: 10px 0;
}
