section(class='realty')
  div(class='realty__container container')
    h2(class='realty__title') Our Latest Developments
    ul(class='realty__list')

      include ../article/article.pug

      li(class='realty__item')
        +article({
          link: 'brunlees.html',
          tag: 'independent',
          imageName: 'brunlees',
          title: 'Brunlees Court',
          address: '19-23 Cambridge Road, Southport',
          text: 'New Properties for Sale from',
          price: '214,999',
          info: 'Shared Ownership Available'
        })(parentClass='realty__article')
      li(class='realty__item')
        +article({
          link: 'charlotte.html',
          tag: 'independent',
          imageName: 'charlotte',
          title: 'Charlotte Court',
          address: '19-23 Cambridge Road, Southport',
          text: 'New Properties for Sale from',
          price: '214,999',
          info: 'Shared Ownership Available'
        })(parentClass='realty__article')
      li(class='realty__item')
        +article({
          link: 'grove.html',
          tag: 'support',
          imageName: 'grove',
          title: 'Grove Court',
          address: '19-23 Cambridge Road, Southport',
          text: 'New Properties for Sale from',
          price: '214,999',
          info: 'Shared Ownership Available'
        })(parentClass='realty__article')

    a(class='realty__more button' href='development.html') See more

    ul(class='realty__storage' style='display: none;' data-storage='[{"link":"brunlees.html","tag":"independent","imageName":"brunlees","title":"Brunlees Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"},{"link":"charlotte.html","tag":"independent","imageName":"charlotte","title":"Charlotte Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"},{"link":"grove.html","tag":"support","imageName":"grove","title":"Grove Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"},{"link":"brunlees.html","tag":"independent","imageName":"brunlees","title":"Brunlees Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"},{"link":"charlotte.html","tag":"independent","imageName":"charlotte","title":"Charlotte Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"},{"link":"grove.html","tag":"support","imageName":"grove","title":"Grove Court","address":"19-23 Cambridge Road, Southport","text":"New Properties for Sale from","price":"214,999","info":"Shared Ownership Available"}]')
      li(class='realty__item')
        +article({
            link: 'grove.html',
            tag: '',
            imageName: 'grove',
            title: 'Grove Court',
            address: '19-23 Cambridge Road, Southport',
            text: 'New Properties for Sale from',
            price: '214,999',
            info: 'Shared Ownership Available'
          })(parentClass='realty__article')
